/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -------------------------------------------------------------------------------------------------------------------------- */
a {
  text-decoration: none;
}

.primary-bg-color {
  background-color: #faf1e7;
}

.secondary-bg-color {
  background-color: #d3bcd7;
}

.tertiary-color {
  color: #503555;
}

.navbar {
  max-width: 1296px;
  width: 95%;
  height: 100px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-content {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links a {
  font-family: "Anybody";
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #503555;
  margin-left: 50px;
}

.main-section {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

h1 {
  font-family: "Shrikhand";
  font-size: 100px;
  line-height: 170px;
  font-weight: normal;
  color: #503555;
}

.main-section-content {
  max-width: 1166px;
  width: 80%;
  margin-top: 40px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-section-content img {
  width: 50%;
}

.left-main-section-img {
  margin-right: 50px;
}

.right-main-section-img {
  margin-left: 50px;
}

button {
  padding: 0 50px;
  height: 70px;
  border: none;
  border-radius: 100px;
  font-family: "Anybody";
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #503555;
}

#don-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#don-container img {
  width: fit-content;
  height: fit-content;
}

#don-btn-container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second-section {
  position: relative;
  width: 100%;
  height: 830px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#don-video-section {
  width: 100%;
  height: 830px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.second-section-body {
  max-width: 1166px;
  width: 80%;
  display: flex;
}

#don-video-body {
  max-width: 1166px;
  width: 80%;
  display: flex;
  flex-direction: column;
}

#don-video-btn {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#don-video-btn iframe {
  margin-bottom: 50px;
}

.left-text-second-section {
  align-items: start;
}

.righted {
  justify-content: end;
}

.lefted {
  justify-content: start;
}

.text-second-section {
  max-width: 720px;
  width: 65%;
}

.text-second-section h2 {
  width: 550px;
  margin-bottom: 25px;
}

.text-second-section p {
  margin: 25px 0;
}

.right-img-second-section {
  width: 36%;
  max-width: 530px;
  height: fit-content;
  position: absolute;
  right: 0;
  top: 180px;
  border-radius: 250px 0 0 250px;
}

.left-img-second-section {
  width: 36%;
  max-width: 530px;
  height: fit-content;
  position: absolute;
  left: 0;
  top: 180px;
  border-radius: 0 250px 250px 0;
}

h2 {
  font-family: "Shrikhand";
  font-size: 64px;
  line-height: 1.5em;
  font-weight: normal;
  text-transform: uppercase;
  color: #503555;
}

section ul {
  list-style: circle;
  margin-left: 40px;
}

section p,
section li,
label {
  font-family: "Anybody";
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  color: #503555;
  text-align: justify;
}

section li:nth-child(even) {
  margin: 10px 0;
}

footer {
  width: 100%;
  height: 182px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  max-width: 1166px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links {
  max-width: 900px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-links-left,
.footer-links-right {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.footer-links a,
#contact-grid-container a {
  font-family: "Anybody";
  font-size: 18px;
  font-weight: normal;
  display: flex;
  align-items: center;
}

.footer-links-logo {
  margin-right: 10px;
}

#volontaire-main-title {
  width: 400px;
}

.second-section .volontaire-devenir-volontaire-h2 {
  width: 750px;
}

#volontaire-devenir-volontaire-ul {
  margin-bottom: 50px;
}

.volontaire-devenir-volontaire-text p:nth-child(even) {
  font-weight: 700;
}

#form-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 25px;
}

strong {
  font-weight: 700;
}

#slot-selector {
  width: 900px;
  height: 492px;
}

p em {
  font-size: 13px;
  font-style: italic;
  font-weight: 600;
}

input {
  width: 210px;
  height: 38px;
  background-color: #ffffff;
  border-radius: 100px;
  border: none;
  padding-left: 10px;
}

#form-container button {
  margin-top: 50px;
  margin-bottom: 25px;
}

#border-radius-main-img {
  border-radius: 25px;
}

#chats-grid-section {
  position: relative;
  width: 100%;
  height: 1600px;
  display: flex;
  justify-content: center;
}

.chats-grid-item {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chats-grid-item img {
  border-radius: 30px;
  border: 5px solid #503555;
  margin-bottom: 20px;
}

h4 {
  font-family: "Shrikhand";
  font-size: 32px;
  font-weight: normal;
  text-transform: uppercase;
  color: #503555;
}

#no-text-transform {
  text-transform: none;
}

#chats-grid-body {
  max-width: 1166px;
  width: 80%;
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#chat-details-container {
  position: fixed;
  top: calc(calc(100% - 606px) / 2);
  width: 1061px;
  height: 606px;
  background-color: #faf1e7;
  display: flex;
  justify-content: center;
  align-items: center;
}

#chat-details-body {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#chat-main-infos img {
  width: 364px;
  height: 364px;
  margin-top: 30px;
  border-radius: 30px;
}

#chat-detailed-infos {
  width: 422px;
}

h3 {
  font-family: "Shrikhand";
  font-size: 48px;
  font-weight: normal;
  text-transform: uppercase;
  color: #503555;
}

#close-icon {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 30px;
  height: 30px;
}

.visible {
  visibility: hidden;
}

#contact-section {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

#contact-grid-container {
  max-width: 1166px;
  width: 80%;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 500px 500px;
  row-gap: 20px;
  column-gap: 100px;
  margin-bottom: 100px;
}

#contact-main-title {
  max-width: 1166px;
  width: 80%;
  text-align: center;
}

#contact-grid-container #contact-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

#contact-grid-container iframe,
#contact-grid-container form {
  margin-top: 50px;
}

#contact-form div {
  display: flex;
  flex-direction: column;
}

#contact-form div input,
#contact-form div textarea {
  width: 300px;
  border-radius: 5px;
  border: 1px solid #d3bcd7;
}

#contact-form div input {
  height: 48px;
}

#contact-form div textarea {
  height: 132px;
}

#contact-form div input::placeholder,
#contact-form div textarea::placeholder,
#form-container input::placeholder {
  font-family: "Anybody";
  font-size: 14px;
  font-weight: normal;
  color: #d3bcd7;
}

#contact-form div input,
#contact-form div textarea,
#form-container input {
  font-family: "Anybody";
  font-size: 14px;
  font-weight: normal;
}

#contact-form div textarea {
  padding-top: 10px;
  padding-left: 8px;
}

#form-container :nth-child(3) {
  margin-top: 20px;
}

.pointer-on-hover:hover {
  cursor: pointer;
}

@media screen and (max-width: 1287px) {
  .main-section-h1-btn h1 {
    font-size: 80px;
  }

  .text-second-section h2 {
    font-size: 51.2px;
  }

  .text-second-section p,
  .text-second-section li {
    font-size: 14.4px;
  }
}

@media screen and (max-width: 1060px) {
  .main-section-content {
    flex-direction: column;
    width: 80%;
  }

  .main-section-h1-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .main-section-h1-btn h1,
  .main-section-h1-btn #volontaire-main-title {
    text-align: center;
    width: 100%;
  }

  .left-main-section-img,
  .right-main-section-img {
    max-width: 601px;
    margin: 50px 0 0 0;
  }

  .main-section-content img {
    width: 75%;
  }

  .main-section-content .left-main-section-img {
    order: 2;
  }

  #don-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #don-btn-container {
    height: 225px;
    justify-content: space-evenly;
  }

  .second-section {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 50px 0;
  }

  .second-section > .second-section-body {
    width: 100%;
    justify-content: center;
  }

  .second-section > .second-section-body > .text-second-section {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .second-section > .second-section-body > .text-second-section p {
    align-self: self-start;
  }

  .second-section > .second-section-body > .text-second-section button {
    margin-bottom: 50px;
  }

  .second-section > .second-section-body > .text-second-section h2 {
    width: 100%;
    text-align: center;
  }

  .second-section img {
    width: 60%;
    border-radius: 50px;
  }

  .left-img-second-section,
  .right-img-second-section {
    position: static;
  }
}
