/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -------------------------------------------------------------------------------------------------------------------------- */
a {
  text-decoration: none;
}

.primary-bg-color {
  background-color: #faf1e7;
}

.secondary-bg-color {
  background-color: #d3bcd7;
}

.tertiary-color {
  color: #503555;
}

.navbar {
  max-width: 1296px;
  width: 95%;
  height: 100px;
  margin-top: 40px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-content {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links a {
  font-family: "Anybody";
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color :#503555;
  margin-left: 50px;
}

.main-section {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "Shrikhand";
  font-size: 100px;
  line-height: 170px;
  font-weight: normal;
}

.main-section-content {
  max-width: 1166px;
  width: 80%;
  margin-top: 40px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-main-section-img {
  margin-right : 50px;
}

.right-main-section-img {
  margin-left : 50px;
}

button {
  padding: 0 50px;
  height: 70px;
  border: none;
  border-radius: 100px;
  font-family: "Anybody";
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #503555;
}

#don-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

#don-container img {
  width: fit-content;
  height: fit-content;
}

#don-btn-container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.second-section {
  position: relative;
  width: 100%;
  height: 830px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#don-video-section {
  width: 100%;
  height: 830px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.second-section-body {
  max-width: 1166px;
  width: 80%;
  display: flex;
}

#don-video-body {
  max-width: 1166px;
  width: 80%;
  display: flex;
  flex-direction: column;
}

#don-video-btn {
  margin-top : 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#don-video-btn iframe {
  margin-bottom: 50px;
}

.left-text-second-section {
  align-items: start;
}

.righted {
  justify-content: end;
}

.lefted {
  justify-content: start;
}

.text-second-section {
  width: 720px;
}

.text-second-section h2 {
  width : 550px;
  margin-bottom: 25px;
}

.text-second-section p {
  margin: 25px 0;
}


.right-img-second-section {
  position: absolute;
  right: 0;
  top :180px;
  width: fit-content;
  height: fit-content;
  border-radius: 250px 0 0 250px;
}

.left-img-second-section {
  position: absolute;
  left: 0;
  top :180px;
  width: fit-content;
  height: fit-content;
  border-radius: 0 250px 250px 0;
}

h2 {
  font-family: "Shrikhand";
  font-size: 64px;
  line-height: 1.5em;
  font-weight: normal;
  text-transform: uppercase;
  color: #503555;
}

section ul {
  list-style: circle;
  margin-left: 40px;
}

section p,
section li,label {
  font-family: "Anybody";
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  color: #503555;
  text-align: justify;
}

section li:nth-child(even) {
  margin: 10px 0;
}

footer {
  width : 100%;
  height: 182px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  max-width: 1166px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links {
  max-width: 900px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 50px;
  row-gap: 20px;
}

.footer-links a {
  font-family: "Anybody";
  font-size: 18px;
  font-weight: normal;
  display: flex;
  align-items: center;
}

.footer-links-logo {
  margin-right: 10px;
}

#volontaire-main-title {
  width: 400px;
}

#volontaire-devenir-volontaire-text,#volontaire-devenir-volontaire-h2 {
  width: 750px;
}

#volontaire-devenir-volontaire-ul {
  margin-bottom: 50px;
}

#volontaire-devenir-volontaire-text p:nth-child(even) {
  font-weight: 700;
}

#form-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

strong {
  font-weight: 700;
}

#slot-selector {
  width: 900px;
  height: 492px;
}

p em {
  font-size: 13px;
  font-style: italic;
  font-weight:600;
}

input {
  width: 210px;
  height: 38px;
  background-color: #ffffff;
  border-radius: 100px;
  border: none;
  padding-left:10px;
}

form {
  margin-top: 25px;
}

form button {
  margin-top: 50px;
  margin-bottom: 25px;
}

#border-radius-main-img {
  border-radius: 25px;
}

#chats-grid-section {
  width : 100%;
  height: 1600px;
  display: flex;
  justify-content: center;
}

.chats-grid-item {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chats-grid-item img {
  border-radius: 30px;
  border: 5px solid #503555;
  margin-bottom: 20px ;
}

h3 {
  font-family: "Shrikhand";
  font-size: 32px;
  font-weight: normal;
  text-transform: uppercase;
  color: #503555;
}

#chats-grid-body {
  max-width: 1166px;
  width: 80%;
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
