.primary-bg-color {
  background-color: #faf1e7;
}

.secondary-bg-color {
  background-color: #d3bcd7;
}

.tertiary-color {
  color: #503555;
}

.navbar {
  max-width: 1296px;
  width: 95%;
  height: 100px;
  margin-top: 40px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-content {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links a {
  font-family: "Anybody";
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 50px;
}
